#BuildingHours table {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
}

.inline {
    display: inline;
}

#BuildingHours table th {
    padding: 3px 20px 3px 3px;
}

#BuildingHours table td {
    padding: 3px;
}

#BuildingHours tr:nth-child(odd) {
  background-color: white;
}