table.busyness_table {
    width: 100%;
}

table.busyness_table tbody tr td:first-child {
    width: 8em;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.busyness_indicator {
    border-radius: 4px;
    padding: 5px 5px 5px 10px;
    color: white;
}

.busyness_indicator.notBusy {
    background-color: lawngreen;
}

.busyness_indicator.busy {
    background-color: gold;
}

.busyness_indicator.veryBusy {
    background-color: crimson;
}

.busyness_indicator.unavailable {
    background-color: silver;
}